body {
	font-family: "Noto Sans", sans-serif;
	background-color: #f8f9fa;
	color: #333;
	margin: 0;
	padding: 0;
}

.logo {
	left: 10px; 
    top: 23px; 
}


.header-container {
	max-width: 1903px;
	display: flex;
	align-items: center;
	padding: 0 20px;
}

.center {
	flex-grow: 1;
	display: flex;
	justify-content: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-center {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header-menu li a {
    color: #fff;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.nav a {
	color: #fff;
	font-weight: bold;
}

.nav ul {
	list-style: none;
}

.nav li a {
	text-decoration: none;
}

.nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    gap: 15px;
}

.main-info {
    display: flex;
    justify-content: center;
    padding: 20px;
}

/* Info Card */
.info-card {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
}

/* Info Section */
.info-section {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.info-section label {
    font-weight: bold;
    margin-bottom: 5px;
    color: #2c3e50;
}

.info-section span, .info-section p {
    font-size: 1rem;
    color: #555;
}

/* 以꾧굅由� �뀓�뒪�듃 */
.info-section p {
    line-height: 1.6;
}

/* Images Section */
.images {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 10px;
}

.image-container {
    flex: 1 1 150px;
    max-width: 150px;
}

.image-container img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Actions */
.actions {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    border: none;
 	outline: none;
}

.review-btn {
    background-color: #4CAF50;
    color: #fff;
}

.review-btn:hover {
    background-color: #45a049;
}

.back-btn {
    background-color: #ccc;
    color: #333;
    padding: 8px 35px;
}

.back-btn:hover {
    background-color: #b3b3b3;
}

  button{
  border: 0;
  background-color: transparent;
}

.action {
	background-color: #4CAF50;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    padding: 12px 20px;
}
